CREATE OR REPLACE FUNCTION public.allow_avatar_and_chat_upload()
RETURNS boolean AS $$
BEGIN
  RETURN true;
END;
$$ LANGUAGE plpgsql;

-- Actually, let's just do the policy directly
DROP POLICY IF EXISTS "Users can upload media" ON storage.objects;
CREATE POLICY "Users can upload media"
ON storage.objects FOR INSERT TO authenticated
WITH CHECK (
  bucket_id = 'chat-media' AND (
    (storage.foldername(name))[1] = 'avatars' AND (storage.foldername(name))[2] = auth.uid()::text
    OR
    (storage.foldername(name))[1] IN (
      SELECT conversation_id::text
      FROM public.conversation_participants
      WHERE profile_id = auth.uid()
    )
  )
);
